@font-face {
  font-family: "Besley";
  src: url("../public/fonts/Besley-VariableFont_wght.ttf");
}

@font-face {
  font-family: "Cormorant";
  src: url("../public/fonts/Cormorant-LightItalic.ttf");
}
